* {
    background-color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 20vw;
}

header {
    background-image: url("https://tagprint.com.br/138-large_default/pokemon-logo.jpg");
}